:root {
  --primary: #3a86ff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

.App {
border: 5px solid var(--primary);
  height: 98.5vh;
  margin: 5px;
  padding: 5px;
}
